/* Common Style*/

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  width:100%;
	height: 4rem;
  display: flex;
}

header .content {
  width: auto;
	height: 32px;
  margin-top: 16px;
	margin-left: 24px;
  align-items: center;
  display: inline-flex;
}

#bold {
  font-weight: bold;
  font-size: 1.5rem;
}

#grey {
  color: #7A7A7A;
  font-size: 1.5rem;
}

header .content img {
  height: 2.5rem;
}
header .signinarea {
	width: auto;
  height: 32px;
	margin-top: 16px;
	margin-right: 24px;
	margin-left: auto;
  align-items: center;
  display: inline-flex;
  font-size: 1.5rem;
}

.signinarea span {
  padding-right: 16px;
}

.mobileheader {
  display: none;
}
/* Media Header */
@media screen and (max-width: 710px) {
header .content, header .signinarea {
    display: none;
  }
header .mobileheader {
    width: 100%;
    padding: 1rem;
    display: inherit;
    justify-content: space-around;
    align-items: center;
    position: absolute;
  }
}
/* learn section*/

.learn {
	width: 100%;
	background-color: lightgrey;
	display: flex;
}

.student {
	width: 60%;
	height: auto;
	padding-top: 32px;
	padding-right:24px;
	padding-bottom:32px;
	padding-left: 24px;
}

.start {
	line-height: 1.2;
  flex-direction: column;
  justify-content: center;
  width: 29rem;
  padding-top: 5rem;
  display: flex;
}

.start h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

.start p {
  font-size: 1.9rem;
}

.here {
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #1c91c7;
  font-weight: 400;
  font-size: 1.5rem;
  color: #F3F5F5;
  text-align: center;
}
/* learn Media section*/
@media screen and (max-width: 710px){
  section {
    flex-direction: column;
  }
  .student {
    width: 100%;
    height: auto;
    padding-left: 0px;
    padding-top: 0px;
    justify-content: space-around;
  }

  .student img{
    width: 100%;
    height: auto;
  }
  .start{
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;

  }
  .start h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }
  .here {
    margin-top: 24px;
    margin-bottom: 32px;
  }
}
/* University Section*/
.uni {
	width:100%;
	height: auto;
	background-color: lightblue;
	display: flex;
  flex: 1;
}

.practising {
  width: 60%;
  height:auto;
  margin-top: 32px;
  margin-right: 24px;
  margin-bottom: 32px;
  margin-left: 24px;
  justify-content: center;
}

.practising h2 {
  font-size: 4rem;
  font-weight: 600;
  padding-top: 32px;
  padding-bottom: 24px;
}

#quote {
  font-size: 2.1rem;
}
#author {
  font-size: 1rem;
}
.information {
  width: 40%;
  height:auto;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.orientation {
  width: 100%;
  height:auto;
  display: flex;
}

.info {
  width: 65%;
  justify-content: center;
}

.info h3 {
  font-size: 2.5rem;
  padding-bottom: 8px;
}

.info p {
  font-size: 1.5rem
}

.info a {
  font-size: 1.5rem;
}

#information1 {
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}
#information2 {
  padding: 1rem;
}

.campus {
  width: 100%;
  height: auto;
  display: flex;
}

.guest {
  width: 100%;
  height: auto;
  display: flex;
}
/* University Media Section*/
@media screen and (max-width: 710px){
  .practising {
    display: none;
  }
   .information {
     width: 100%;
     margin-top: 0px;
     margin-bottom: 0px;

   }
  .orientation, .campus, .guest {
    width: 100%;
    height: auto;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    flex-direction: column;
  }
  #information1, #information2 {
    width: 100%;
    height: 300px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
  .info {
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
 }
}

/* Courses Section */
.courses {
  width:100%;
	height: auto;
	background-color: lightgrey;
	display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.courses h1 {
  padding-top: 2rem;
  font-size: 2rem;
}

.courses img {
  height: auto;
}

.coursetype {
  width: auto;
  height: auto;
  background-color: lightgrey;
  padding: 2rem 4.5rem;
  display: flex;
  flex-wrap: wrap;
}
 #coursetype {
   padding-top: 1rem;
   padding-left: 1rem;
   font-size: 1.5rem;
   text-align: left;
 }
#courses {
  padding-left: 1rem;
  font-size: 1.5rem;
  text-align:left;
}

#type {
  padding-left: 1rem;
  font-size: 1.5rem;
  text-align: left;
}

 .software, .computerart, .data, .business {
   padding-right: 2rem;
 }
.software, .computerart, .design, .data, .business, .marketing {
  background-color: white;
}
/* Courses Media Section */
@media screen and (max-width: 710px) {
  .coursetype {
    flex-direction: column;
  }
  .seimg, .caimg, .dimg, .daimg, .bimg, .mimg {
    display: none;
  }
  .courses, .coursetype, .software, .computerart, .design, .data, .business, .marketing{
    background-color: lightblue;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #courses, #type {
    display: none;
  }

  .software {
    background:
  }
  #coursetype {
    background-color: lightgrey;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
}
/* Thesis Section*/
.thesis {
  width: 100%;
  height: auto;
  background-color: lightblue;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.thesis h1 {
  padding-top: 1.5rem;
  font-size: 2rem;
}

.exhibit {
  width: 100%;
  display: inline-flex;
}

video {
  width: 100%;
  height: auto;
}

.video {
  width: 60%;
  text-align: left;
  padding-top: 2rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}

.video h2 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.video p {
  font-size: 1.5rem;
}
.exhibitb {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.fisma{
  width: auto;
  height: auto;
  padding-left: 1.5rem;
  display: inline-flex;
  text-align: left;
}

#thesis {
  padding: 1rem;
}

.prototype {
  width: 65%;
  justify-content:center;
}

.prototype h3 {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.prototype p {
  font-size: 1.5rem;
}
/* Thesis Media Section*/
@media screen and (max-width: 710px){
  .exhibitb, .video h2, .video p {
    display: none;
  }
  .video {
    width: 100%;
    padding-left: 0rem;
    padding-top: 1rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
}
/*footer Section*/
footer {
  width: 100%;
  height: 64px;
  background-color: white;
  display: flex;
}

.copyright {
  width: auto;
  height: 32px;
  font-size: 1.5rem;
  margin-top: 16px;
  margin-right: auto;
  margin-left: 24px;
  align-items: center;
  display: inline-flex;
}

.terms {
  width: auto;
  height: 32px;
  font-size: 1.5rem;
  margin-top: 16px;
  margin-right: 24px;
  margin-left: auto;
  align-items: center;
  display: inline-flex;
}

.terms span {
  padding-right: 16px;
}

/*footer media section*/
@media screen and (max-width: 710px){
  .terms{
    display: none;
  }
}
